<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongyu.dao.ExampleDao">
    <resultMap id="BaseResultMap" type="com.zhongyu.bean.Example">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age, sex, birthday
    </sql>

    <select id="getExample" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from example
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="listExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from example
    </select>

    <select id="examplePager" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from example where 1 = 1 order by id asc limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <delete id="deleteExample" parameterType="java.lang.Integer">
        delete from example
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertExample" parameterType="com.zhongyu.bean.Example">
        insert into example (id, name, age, sex, birthday)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
                #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateExample" parameterType="com.zhongyu.bean.Example">
        update example
        set name = #{name,jdbcType=VARCHAR},
            age = #{age,jdbcType=INTEGER},
            sex = #{sex,jdbcType=VARCHAR},
            birthday = #{birthday,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="countExample" resultType="java.lang.Integer">
        select count(1) from example
    </select>
</mapper>